<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/log.css">
</head>
<body>
    <nav>
        <h1>MARK EVALUATION</h1>

        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="">ABOUT</a></li>
           
        </ul>
    </nav>
    

    <div class="container">
        <h1>Welcome to Mark Evaluation</h1>
        <p>Please LOGIN to continue</p>
       
            <section>
                <div class="login-box" >
                    <form action="/submit" method="post">
                    <table >
                        <h2 >STUDENT LOGIN</h2>
                        <tr>
                            <td>
                                <label for="mobile"> Enter a Mobile number</label>
                            </td>
                            <td>
                                <input type="text" name="mobile" id="mobile" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Enter a Email</label>
                            </td>
                            <td>
                                <input type="text" name="email" id="email" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="password"> Enter a Password</label>
                            </td>
                            <td>
                                <input type="password" name="password" id="password" required>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Login">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="reg">
                                    <p>Don't have an account?</p>
                                    <a href="/studreg"><p id="register">Click here to register</p></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    </form>
                </div>
            </section>
    </div>
    <footer>
        <p>&copy; 2025 MARK EVALUATION</p>
    </footer>
    
</body>
<script>
   
   

</script>
</html>