<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reg.css">
    <title>REGISTER TEACHER</title>
</head>

<body>
    <div class="reg-box">
        <h2>TEACHER REGISTER</h2>
        <form action="" method="post">
         <table>
                <tr>
                    <td>
                        <label for="name">Enter your Name</label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="mobile">Enter a Mobile number</label>
                    </td>
                    <td>
                        <input type="text" name="mobile" id="mobile" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Enter a Email</label>
                    </td>
                    <td>
                        <input type="text" name="email" id="email" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Enter a Password</label>
                    </td>
                    <td>
                        <input type="password" name="password" id="password" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Register">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="reg" colspan="2">
                            <p>GET back Login</p>
                            <a href="/teacherlog"><p id="register">Click here to login</p></a>
                        </div>
                    </td>
                </tr>
        </table>
    </form>
</body>
</html>